*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin generateYellow($x,$y,$z){
    background-color:rgb($x,$y,$z);
}
.bg{
    background-color:rgb(232, 0, 0);
}
@for $i from 1 to 256{
    @if $i >= 1 and $i<=80{
    .bg-yellow-#{$i}{
        @include generateYellow($i,0 ,0)
    }
}
@else if $i >=81 and $i <= 160 {
    .bg-yellow-#{$i}{
        @include generateYellow($i,$i ,0)
    }
}
@else {
    .bg-yellow-#{$i}{
        @include generateYellow(0,$i ,0)
    }
}


    .box-#{$i} {
        height: $i + 150px;
        width: $i + 150px;
      }
}
.box{
    gap:15px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.align{
    align-items: center;
}
.justify{
    justify-content: center;
}