* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-color: rgb(232, 0, 0);
}

.bg-yellow-1 {
  background-color: rgb(1, 0, 0);
}

.box-1 {
  height: 151px;
  width: 151px;
}

.bg-yellow-2 {
  background-color: rgb(2, 0, 0);
}

.box-2 {
  height: 152px;
  width: 152px;
}

.bg-yellow-3 {
  background-color: rgb(3, 0, 0);
}

.box-3 {
  height: 153px;
  width: 153px;
}

.bg-yellow-4 {
  background-color: rgb(4, 0, 0);
}

.box-4 {
  height: 154px;
  width: 154px;
}

.bg-yellow-5 {
  background-color: rgb(5, 0, 0);
}

.box-5 {
  height: 155px;
  width: 155px;
}

.bg-yellow-6 {
  background-color: rgb(6, 0, 0);
}

.box-6 {
  height: 156px;
  width: 156px;
}

.bg-yellow-7 {
  background-color: rgb(7, 0, 0);
}

.box-7 {
  height: 157px;
  width: 157px;
}

.bg-yellow-8 {
  background-color: rgb(8, 0, 0);
}

.box-8 {
  height: 158px;
  width: 158px;
}

.bg-yellow-9 {
  background-color: rgb(9, 0, 0);
}

.box-9 {
  height: 159px;
  width: 159px;
}

.bg-yellow-10 {
  background-color: rgb(10, 0, 0);
}

.box-10 {
  height: 160px;
  width: 160px;
}

.bg-yellow-11 {
  background-color: rgb(11, 0, 0);
}

.box-11 {
  height: 161px;
  width: 161px;
}

.bg-yellow-12 {
  background-color: rgb(12, 0, 0);
}

.box-12 {
  height: 162px;
  width: 162px;
}

.bg-yellow-13 {
  background-color: rgb(13, 0, 0);
}

.box-13 {
  height: 163px;
  width: 163px;
}

.bg-yellow-14 {
  background-color: rgb(14, 0, 0);
}

.box-14 {
  height: 164px;
  width: 164px;
}

.bg-yellow-15 {
  background-color: rgb(15, 0, 0);
}

.box-15 {
  height: 165px;
  width: 165px;
}

.bg-yellow-16 {
  background-color: rgb(16, 0, 0);
}

.box-16 {
  height: 166px;
  width: 166px;
}

.bg-yellow-17 {
  background-color: rgb(17, 0, 0);
}

.box-17 {
  height: 167px;
  width: 167px;
}

.bg-yellow-18 {
  background-color: rgb(18, 0, 0);
}

.box-18 {
  height: 168px;
  width: 168px;
}

.bg-yellow-19 {
  background-color: rgb(19, 0, 0);
}

.box-19 {
  height: 169px;
  width: 169px;
}

.bg-yellow-20 {
  background-color: rgb(20, 0, 0);
}

.box-20 {
  height: 170px;
  width: 170px;
}

.bg-yellow-21 {
  background-color: rgb(21, 0, 0);
}

.box-21 {
  height: 171px;
  width: 171px;
}

.bg-yellow-22 {
  background-color: rgb(22, 0, 0);
}

.box-22 {
  height: 172px;
  width: 172px;
}

.bg-yellow-23 {
  background-color: rgb(23, 0, 0);
}

.box-23 {
  height: 173px;
  width: 173px;
}

.bg-yellow-24 {
  background-color: rgb(24, 0, 0);
}

.box-24 {
  height: 174px;
  width: 174px;
}

.bg-yellow-25 {
  background-color: rgb(25, 0, 0);
}

.box-25 {
  height: 175px;
  width: 175px;
}

.bg-yellow-26 {
  background-color: rgb(26, 0, 0);
}

.box-26 {
  height: 176px;
  width: 176px;
}

.bg-yellow-27 {
  background-color: rgb(27, 0, 0);
}

.box-27 {
  height: 177px;
  width: 177px;
}

.bg-yellow-28 {
  background-color: rgb(28, 0, 0);
}

.box-28 {
  height: 178px;
  width: 178px;
}

.bg-yellow-29 {
  background-color: rgb(29, 0, 0);
}

.box-29 {
  height: 179px;
  width: 179px;
}

.bg-yellow-30 {
  background-color: rgb(30, 0, 0);
}

.box-30 {
  height: 180px;
  width: 180px;
}

.bg-yellow-31 {
  background-color: rgb(31, 0, 0);
}

.box-31 {
  height: 181px;
  width: 181px;
}

.bg-yellow-32 {
  background-color: rgb(32, 0, 0);
}

.box-32 {
  height: 182px;
  width: 182px;
}

.bg-yellow-33 {
  background-color: rgb(33, 0, 0);
}

.box-33 {
  height: 183px;
  width: 183px;
}

.bg-yellow-34 {
  background-color: rgb(34, 0, 0);
}

.box-34 {
  height: 184px;
  width: 184px;
}

.bg-yellow-35 {
  background-color: rgb(35, 0, 0);
}

.box-35 {
  height: 185px;
  width: 185px;
}

.bg-yellow-36 {
  background-color: rgb(36, 0, 0);
}

.box-36 {
  height: 186px;
  width: 186px;
}

.bg-yellow-37 {
  background-color: rgb(37, 0, 0);
}

.box-37 {
  height: 187px;
  width: 187px;
}

.bg-yellow-38 {
  background-color: rgb(38, 0, 0);
}

.box-38 {
  height: 188px;
  width: 188px;
}

.bg-yellow-39 {
  background-color: rgb(39, 0, 0);
}

.box-39 {
  height: 189px;
  width: 189px;
}

.bg-yellow-40 {
  background-color: rgb(40, 0, 0);
}

.box-40 {
  height: 190px;
  width: 190px;
}

.bg-yellow-41 {
  background-color: rgb(41, 0, 0);
}

.box-41 {
  height: 191px;
  width: 191px;
}

.bg-yellow-42 {
  background-color: rgb(42, 0, 0);
}

.box-42 {
  height: 192px;
  width: 192px;
}

.bg-yellow-43 {
  background-color: rgb(43, 0, 0);
}

.box-43 {
  height: 193px;
  width: 193px;
}

.bg-yellow-44 {
  background-color: rgb(44, 0, 0);
}

.box-44 {
  height: 194px;
  width: 194px;
}

.bg-yellow-45 {
  background-color: rgb(45, 0, 0);
}

.box-45 {
  height: 195px;
  width: 195px;
}

.bg-yellow-46 {
  background-color: rgb(46, 0, 0);
}

.box-46 {
  height: 196px;
  width: 196px;
}

.bg-yellow-47 {
  background-color: rgb(47, 0, 0);
}

.box-47 {
  height: 197px;
  width: 197px;
}

.bg-yellow-48 {
  background-color: rgb(48, 0, 0);
}

.box-48 {
  height: 198px;
  width: 198px;
}

.bg-yellow-49 {
  background-color: rgb(49, 0, 0);
}

.box-49 {
  height: 199px;
  width: 199px;
}

.bg-yellow-50 {
  background-color: rgb(50, 0, 0);
}

.box-50 {
  height: 200px;
  width: 200px;
}

.bg-yellow-51 {
  background-color: rgb(51, 0, 0);
}

.box-51 {
  height: 201px;
  width: 201px;
}

.bg-yellow-52 {
  background-color: rgb(52, 0, 0);
}

.box-52 {
  height: 202px;
  width: 202px;
}

.bg-yellow-53 {
  background-color: rgb(53, 0, 0);
}

.box-53 {
  height: 203px;
  width: 203px;
}

.bg-yellow-54 {
  background-color: rgb(54, 0, 0);
}

.box-54 {
  height: 204px;
  width: 204px;
}

.bg-yellow-55 {
  background-color: rgb(55, 0, 0);
}

.box-55 {
  height: 205px;
  width: 205px;
}

.bg-yellow-56 {
  background-color: rgb(56, 0, 0);
}

.box-56 {
  height: 206px;
  width: 206px;
}

.bg-yellow-57 {
  background-color: rgb(57, 0, 0);
}

.box-57 {
  height: 207px;
  width: 207px;
}

.bg-yellow-58 {
  background-color: rgb(58, 0, 0);
}

.box-58 {
  height: 208px;
  width: 208px;
}

.bg-yellow-59 {
  background-color: rgb(59, 0, 0);
}

.box-59 {
  height: 209px;
  width: 209px;
}

.bg-yellow-60 {
  background-color: rgb(60, 0, 0);
}

.box-60 {
  height: 210px;
  width: 210px;
}

.bg-yellow-61 {
  background-color: rgb(61, 0, 0);
}

.box-61 {
  height: 211px;
  width: 211px;
}

.bg-yellow-62 {
  background-color: rgb(62, 0, 0);
}

.box-62 {
  height: 212px;
  width: 212px;
}

.bg-yellow-63 {
  background-color: rgb(63, 0, 0);
}

.box-63 {
  height: 213px;
  width: 213px;
}

.bg-yellow-64 {
  background-color: rgb(64, 0, 0);
}

.box-64 {
  height: 214px;
  width: 214px;
}

.bg-yellow-65 {
  background-color: rgb(65, 0, 0);
}

.box-65 {
  height: 215px;
  width: 215px;
}

.bg-yellow-66 {
  background-color: rgb(66, 0, 0);
}

.box-66 {
  height: 216px;
  width: 216px;
}

.bg-yellow-67 {
  background-color: rgb(67, 0, 0);
}

.box-67 {
  height: 217px;
  width: 217px;
}

.bg-yellow-68 {
  background-color: rgb(68, 0, 0);
}

.box-68 {
  height: 218px;
  width: 218px;
}

.bg-yellow-69 {
  background-color: rgb(69, 0, 0);
}

.box-69 {
  height: 219px;
  width: 219px;
}

.bg-yellow-70 {
  background-color: rgb(70, 0, 0);
}

.box-70 {
  height: 220px;
  width: 220px;
}

.bg-yellow-71 {
  background-color: rgb(71, 0, 0);
}

.box-71 {
  height: 221px;
  width: 221px;
}

.bg-yellow-72 {
  background-color: rgb(72, 0, 0);
}

.box-72 {
  height: 222px;
  width: 222px;
}

.bg-yellow-73 {
  background-color: rgb(73, 0, 0);
}

.box-73 {
  height: 223px;
  width: 223px;
}

.bg-yellow-74 {
  background-color: rgb(74, 0, 0);
}

.box-74 {
  height: 224px;
  width: 224px;
}

.bg-yellow-75 {
  background-color: rgb(75, 0, 0);
}

.box-75 {
  height: 225px;
  width: 225px;
}

.bg-yellow-76 {
  background-color: rgb(76, 0, 0);
}

.box-76 {
  height: 226px;
  width: 226px;
}

.bg-yellow-77 {
  background-color: rgb(77, 0, 0);
}

.box-77 {
  height: 227px;
  width: 227px;
}

.bg-yellow-78 {
  background-color: rgb(78, 0, 0);
}

.box-78 {
  height: 228px;
  width: 228px;
}

.bg-yellow-79 {
  background-color: rgb(79, 0, 0);
}

.box-79 {
  height: 229px;
  width: 229px;
}

.bg-yellow-80 {
  background-color: rgb(80, 0, 0);
}

.box-80 {
  height: 230px;
  width: 230px;
}

.bg-yellow-81 {
  background-color: rgb(81, 81, 0);
}

.box-81 {
  height: 231px;
  width: 231px;
}

.bg-yellow-82 {
  background-color: rgb(82, 82, 0);
}

.box-82 {
  height: 232px;
  width: 232px;
}

.bg-yellow-83 {
  background-color: rgb(83, 83, 0);
}

.box-83 {
  height: 233px;
  width: 233px;
}

.bg-yellow-84 {
  background-color: rgb(84, 84, 0);
}

.box-84 {
  height: 234px;
  width: 234px;
}

.bg-yellow-85 {
  background-color: rgb(85, 85, 0);
}

.box-85 {
  height: 235px;
  width: 235px;
}

.bg-yellow-86 {
  background-color: rgb(86, 86, 0);
}

.box-86 {
  height: 236px;
  width: 236px;
}

.bg-yellow-87 {
  background-color: rgb(87, 87, 0);
}

.box-87 {
  height: 237px;
  width: 237px;
}

.bg-yellow-88 {
  background-color: rgb(88, 88, 0);
}

.box-88 {
  height: 238px;
  width: 238px;
}

.bg-yellow-89 {
  background-color: rgb(89, 89, 0);
}

.box-89 {
  height: 239px;
  width: 239px;
}

.bg-yellow-90 {
  background-color: rgb(90, 90, 0);
}

.box-90 {
  height: 240px;
  width: 240px;
}

.bg-yellow-91 {
  background-color: rgb(91, 91, 0);
}

.box-91 {
  height: 241px;
  width: 241px;
}

.bg-yellow-92 {
  background-color: rgb(92, 92, 0);
}

.box-92 {
  height: 242px;
  width: 242px;
}

.bg-yellow-93 {
  background-color: rgb(93, 93, 0);
}

.box-93 {
  height: 243px;
  width: 243px;
}

.bg-yellow-94 {
  background-color: rgb(94, 94, 0);
}

.box-94 {
  height: 244px;
  width: 244px;
}

.bg-yellow-95 {
  background-color: rgb(95, 95, 0);
}

.box-95 {
  height: 245px;
  width: 245px;
}

.bg-yellow-96 {
  background-color: rgb(96, 96, 0);
}

.box-96 {
  height: 246px;
  width: 246px;
}

.bg-yellow-97 {
  background-color: rgb(97, 97, 0);
}

.box-97 {
  height: 247px;
  width: 247px;
}

.bg-yellow-98 {
  background-color: rgb(98, 98, 0);
}

.box-98 {
  height: 248px;
  width: 248px;
}

.bg-yellow-99 {
  background-color: rgb(99, 99, 0);
}

.box-99 {
  height: 249px;
  width: 249px;
}

.bg-yellow-100 {
  background-color: rgb(100, 100, 0);
}

.box-100 {
  height: 250px;
  width: 250px;
}

.bg-yellow-101 {
  background-color: rgb(101, 101, 0);
}

.box-101 {
  height: 251px;
  width: 251px;
}

.bg-yellow-102 {
  background-color: rgb(102, 102, 0);
}

.box-102 {
  height: 252px;
  width: 252px;
}

.bg-yellow-103 {
  background-color: rgb(103, 103, 0);
}

.box-103 {
  height: 253px;
  width: 253px;
}

.bg-yellow-104 {
  background-color: rgb(104, 104, 0);
}

.box-104 {
  height: 254px;
  width: 254px;
}

.bg-yellow-105 {
  background-color: rgb(105, 105, 0);
}

.box-105 {
  height: 255px;
  width: 255px;
}

.bg-yellow-106 {
  background-color: rgb(106, 106, 0);
}

.box-106 {
  height: 256px;
  width: 256px;
}

.bg-yellow-107 {
  background-color: rgb(107, 107, 0);
}

.box-107 {
  height: 257px;
  width: 257px;
}

.bg-yellow-108 {
  background-color: rgb(108, 108, 0);
}

.box-108 {
  height: 258px;
  width: 258px;
}

.bg-yellow-109 {
  background-color: rgb(109, 109, 0);
}

.box-109 {
  height: 259px;
  width: 259px;
}

.bg-yellow-110 {
  background-color: rgb(110, 110, 0);
}

.box-110 {
  height: 260px;
  width: 260px;
}

.bg-yellow-111 {
  background-color: rgb(111, 111, 0);
}

.box-111 {
  height: 261px;
  width: 261px;
}

.bg-yellow-112 {
  background-color: rgb(112, 112, 0);
}

.box-112 {
  height: 262px;
  width: 262px;
}

.bg-yellow-113 {
  background-color: rgb(113, 113, 0);
}

.box-113 {
  height: 263px;
  width: 263px;
}

.bg-yellow-114 {
  background-color: rgb(114, 114, 0);
}

.box-114 {
  height: 264px;
  width: 264px;
}

.bg-yellow-115 {
  background-color: rgb(115, 115, 0);
}

.box-115 {
  height: 265px;
  width: 265px;
}

.bg-yellow-116 {
  background-color: rgb(116, 116, 0);
}

.box-116 {
  height: 266px;
  width: 266px;
}

.bg-yellow-117 {
  background-color: rgb(117, 117, 0);
}

.box-117 {
  height: 267px;
  width: 267px;
}

.bg-yellow-118 {
  background-color: rgb(118, 118, 0);
}

.box-118 {
  height: 268px;
  width: 268px;
}

.bg-yellow-119 {
  background-color: rgb(119, 119, 0);
}

.box-119 {
  height: 269px;
  width: 269px;
}

.bg-yellow-120 {
  background-color: rgb(120, 120, 0);
}

.box-120 {
  height: 270px;
  width: 270px;
}

.bg-yellow-121 {
  background-color: rgb(121, 121, 0);
}

.box-121 {
  height: 271px;
  width: 271px;
}

.bg-yellow-122 {
  background-color: rgb(122, 122, 0);
}

.box-122 {
  height: 272px;
  width: 272px;
}

.bg-yellow-123 {
  background-color: rgb(123, 123, 0);
}

.box-123 {
  height: 273px;
  width: 273px;
}

.bg-yellow-124 {
  background-color: rgb(124, 124, 0);
}

.box-124 {
  height: 274px;
  width: 274px;
}

.bg-yellow-125 {
  background-color: rgb(125, 125, 0);
}

.box-125 {
  height: 275px;
  width: 275px;
}

.bg-yellow-126 {
  background-color: rgb(126, 126, 0);
}

.box-126 {
  height: 276px;
  width: 276px;
}

.bg-yellow-127 {
  background-color: rgb(127, 127, 0);
}

.box-127 {
  height: 277px;
  width: 277px;
}

.bg-yellow-128 {
  background-color: rgb(128, 128, 0);
}

.box-128 {
  height: 278px;
  width: 278px;
}

.bg-yellow-129 {
  background-color: rgb(129, 129, 0);
}

.box-129 {
  height: 279px;
  width: 279px;
}

.bg-yellow-130 {
  background-color: rgb(130, 130, 0);
}

.box-130 {
  height: 280px;
  width: 280px;
}

.bg-yellow-131 {
  background-color: rgb(131, 131, 0);
}

.box-131 {
  height: 281px;
  width: 281px;
}

.bg-yellow-132 {
  background-color: rgb(132, 132, 0);
}

.box-132 {
  height: 282px;
  width: 282px;
}

.bg-yellow-133 {
  background-color: rgb(133, 133, 0);
}

.box-133 {
  height: 283px;
  width: 283px;
}

.bg-yellow-134 {
  background-color: rgb(134, 134, 0);
}

.box-134 {
  height: 284px;
  width: 284px;
}

.bg-yellow-135 {
  background-color: rgb(135, 135, 0);
}

.box-135 {
  height: 285px;
  width: 285px;
}

.bg-yellow-136 {
  background-color: rgb(136, 136, 0);
}

.box-136 {
  height: 286px;
  width: 286px;
}

.bg-yellow-137 {
  background-color: rgb(137, 137, 0);
}

.box-137 {
  height: 287px;
  width: 287px;
}

.bg-yellow-138 {
  background-color: rgb(138, 138, 0);
}

.box-138 {
  height: 288px;
  width: 288px;
}

.bg-yellow-139 {
  background-color: rgb(139, 139, 0);
}

.box-139 {
  height: 289px;
  width: 289px;
}

.bg-yellow-140 {
  background-color: rgb(140, 140, 0);
}

.box-140 {
  height: 290px;
  width: 290px;
}

.bg-yellow-141 {
  background-color: rgb(141, 141, 0);
}

.box-141 {
  height: 291px;
  width: 291px;
}

.bg-yellow-142 {
  background-color: rgb(142, 142, 0);
}

.box-142 {
  height: 292px;
  width: 292px;
}

.bg-yellow-143 {
  background-color: rgb(143, 143, 0);
}

.box-143 {
  height: 293px;
  width: 293px;
}

.bg-yellow-144 {
  background-color: rgb(144, 144, 0);
}

.box-144 {
  height: 294px;
  width: 294px;
}

.bg-yellow-145 {
  background-color: rgb(145, 145, 0);
}

.box-145 {
  height: 295px;
  width: 295px;
}

.bg-yellow-146 {
  background-color: rgb(146, 146, 0);
}

.box-146 {
  height: 296px;
  width: 296px;
}

.bg-yellow-147 {
  background-color: rgb(147, 147, 0);
}

.box-147 {
  height: 297px;
  width: 297px;
}

.bg-yellow-148 {
  background-color: rgb(148, 148, 0);
}

.box-148 {
  height: 298px;
  width: 298px;
}

.bg-yellow-149 {
  background-color: rgb(149, 149, 0);
}

.box-149 {
  height: 299px;
  width: 299px;
}

.bg-yellow-150 {
  background-color: rgb(150, 150, 0);
}

.box-150 {
  height: 300px;
  width: 300px;
}

.bg-yellow-151 {
  background-color: rgb(151, 151, 0);
}

.box-151 {
  height: 301px;
  width: 301px;
}

.bg-yellow-152 {
  background-color: rgb(152, 152, 0);
}

.box-152 {
  height: 302px;
  width: 302px;
}

.bg-yellow-153 {
  background-color: rgb(153, 153, 0);
}

.box-153 {
  height: 303px;
  width: 303px;
}

.bg-yellow-154 {
  background-color: rgb(154, 154, 0);
}

.box-154 {
  height: 304px;
  width: 304px;
}

.bg-yellow-155 {
  background-color: rgb(155, 155, 0);
}

.box-155 {
  height: 305px;
  width: 305px;
}

.bg-yellow-156 {
  background-color: rgb(156, 156, 0);
}

.box-156 {
  height: 306px;
  width: 306px;
}

.bg-yellow-157 {
  background-color: rgb(157, 157, 0);
}

.box-157 {
  height: 307px;
  width: 307px;
}

.bg-yellow-158 {
  background-color: rgb(158, 158, 0);
}

.box-158 {
  height: 308px;
  width: 308px;
}

.bg-yellow-159 {
  background-color: rgb(159, 159, 0);
}

.box-159 {
  height: 309px;
  width: 309px;
}

.bg-yellow-160 {
  background-color: rgb(160, 160, 0);
}

.box-160 {
  height: 310px;
  width: 310px;
}

.bg-yellow-161 {
  background-color: rgb(0, 161, 0);
}

.box-161 {
  height: 311px;
  width: 311px;
}

.bg-yellow-162 {
  background-color: rgb(0, 162, 0);
}

.box-162 {
  height: 312px;
  width: 312px;
}

.bg-yellow-163 {
  background-color: rgb(0, 163, 0);
}

.box-163 {
  height: 313px;
  width: 313px;
}

.bg-yellow-164 {
  background-color: rgb(0, 164, 0);
}

.box-164 {
  height: 314px;
  width: 314px;
}

.bg-yellow-165 {
  background-color: rgb(0, 165, 0);
}

.box-165 {
  height: 315px;
  width: 315px;
}

.bg-yellow-166 {
  background-color: rgb(0, 166, 0);
}

.box-166 {
  height: 316px;
  width: 316px;
}

.bg-yellow-167 {
  background-color: rgb(0, 167, 0);
}

.box-167 {
  height: 317px;
  width: 317px;
}

.bg-yellow-168 {
  background-color: rgb(0, 168, 0);
}

.box-168 {
  height: 318px;
  width: 318px;
}

.bg-yellow-169 {
  background-color: rgb(0, 169, 0);
}

.box-169 {
  height: 319px;
  width: 319px;
}

.bg-yellow-170 {
  background-color: rgb(0, 170, 0);
}

.box-170 {
  height: 320px;
  width: 320px;
}

.bg-yellow-171 {
  background-color: rgb(0, 171, 0);
}

.box-171 {
  height: 321px;
  width: 321px;
}

.bg-yellow-172 {
  background-color: rgb(0, 172, 0);
}

.box-172 {
  height: 322px;
  width: 322px;
}

.bg-yellow-173 {
  background-color: rgb(0, 173, 0);
}

.box-173 {
  height: 323px;
  width: 323px;
}

.bg-yellow-174 {
  background-color: rgb(0, 174, 0);
}

.box-174 {
  height: 324px;
  width: 324px;
}

.bg-yellow-175 {
  background-color: rgb(0, 175, 0);
}

.box-175 {
  height: 325px;
  width: 325px;
}

.bg-yellow-176 {
  background-color: rgb(0, 176, 0);
}

.box-176 {
  height: 326px;
  width: 326px;
}

.bg-yellow-177 {
  background-color: rgb(0, 177, 0);
}

.box-177 {
  height: 327px;
  width: 327px;
}

.bg-yellow-178 {
  background-color: rgb(0, 178, 0);
}

.box-178 {
  height: 328px;
  width: 328px;
}

.bg-yellow-179 {
  background-color: rgb(0, 179, 0);
}

.box-179 {
  height: 329px;
  width: 329px;
}

.bg-yellow-180 {
  background-color: rgb(0, 180, 0);
}

.box-180 {
  height: 330px;
  width: 330px;
}

.bg-yellow-181 {
  background-color: rgb(0, 181, 0);
}

.box-181 {
  height: 331px;
  width: 331px;
}

.bg-yellow-182 {
  background-color: rgb(0, 182, 0);
}

.box-182 {
  height: 332px;
  width: 332px;
}

.bg-yellow-183 {
  background-color: rgb(0, 183, 0);
}

.box-183 {
  height: 333px;
  width: 333px;
}

.bg-yellow-184 {
  background-color: rgb(0, 184, 0);
}

.box-184 {
  height: 334px;
  width: 334px;
}

.bg-yellow-185 {
  background-color: rgb(0, 185, 0);
}

.box-185 {
  height: 335px;
  width: 335px;
}

.bg-yellow-186 {
  background-color: rgb(0, 186, 0);
}

.box-186 {
  height: 336px;
  width: 336px;
}

.bg-yellow-187 {
  background-color: rgb(0, 187, 0);
}

.box-187 {
  height: 337px;
  width: 337px;
}

.bg-yellow-188 {
  background-color: rgb(0, 188, 0);
}

.box-188 {
  height: 338px;
  width: 338px;
}

.bg-yellow-189 {
  background-color: rgb(0, 189, 0);
}

.box-189 {
  height: 339px;
  width: 339px;
}

.bg-yellow-190 {
  background-color: rgb(0, 190, 0);
}

.box-190 {
  height: 340px;
  width: 340px;
}

.bg-yellow-191 {
  background-color: rgb(0, 191, 0);
}

.box-191 {
  height: 341px;
  width: 341px;
}

.bg-yellow-192 {
  background-color: rgb(0, 192, 0);
}

.box-192 {
  height: 342px;
  width: 342px;
}

.bg-yellow-193 {
  background-color: rgb(0, 193, 0);
}

.box-193 {
  height: 343px;
  width: 343px;
}

.bg-yellow-194 {
  background-color: rgb(0, 194, 0);
}

.box-194 {
  height: 344px;
  width: 344px;
}

.bg-yellow-195 {
  background-color: rgb(0, 195, 0);
}

.box-195 {
  height: 345px;
  width: 345px;
}

.bg-yellow-196 {
  background-color: rgb(0, 196, 0);
}

.box-196 {
  height: 346px;
  width: 346px;
}

.bg-yellow-197 {
  background-color: rgb(0, 197, 0);
}

.box-197 {
  height: 347px;
  width: 347px;
}

.bg-yellow-198 {
  background-color: rgb(0, 198, 0);
}

.box-198 {
  height: 348px;
  width: 348px;
}

.bg-yellow-199 {
  background-color: rgb(0, 199, 0);
}

.box-199 {
  height: 349px;
  width: 349px;
}

.bg-yellow-200 {
  background-color: rgb(0, 200, 0);
}

.box-200 {
  height: 350px;
  width: 350px;
}

.bg-yellow-201 {
  background-color: rgb(0, 201, 0);
}

.box-201 {
  height: 351px;
  width: 351px;
}

.bg-yellow-202 {
  background-color: rgb(0, 202, 0);
}

.box-202 {
  height: 352px;
  width: 352px;
}

.bg-yellow-203 {
  background-color: rgb(0, 203, 0);
}

.box-203 {
  height: 353px;
  width: 353px;
}

.bg-yellow-204 {
  background-color: rgb(0, 204, 0);
}

.box-204 {
  height: 354px;
  width: 354px;
}

.bg-yellow-205 {
  background-color: rgb(0, 205, 0);
}

.box-205 {
  height: 355px;
  width: 355px;
}

.bg-yellow-206 {
  background-color: rgb(0, 206, 0);
}

.box-206 {
  height: 356px;
  width: 356px;
}

.bg-yellow-207 {
  background-color: rgb(0, 207, 0);
}

.box-207 {
  height: 357px;
  width: 357px;
}

.bg-yellow-208 {
  background-color: rgb(0, 208, 0);
}

.box-208 {
  height: 358px;
  width: 358px;
}

.bg-yellow-209 {
  background-color: rgb(0, 209, 0);
}

.box-209 {
  height: 359px;
  width: 359px;
}

.bg-yellow-210 {
  background-color: rgb(0, 210, 0);
}

.box-210 {
  height: 360px;
  width: 360px;
}

.bg-yellow-211 {
  background-color: rgb(0, 211, 0);
}

.box-211 {
  height: 361px;
  width: 361px;
}

.bg-yellow-212 {
  background-color: rgb(0, 212, 0);
}

.box-212 {
  height: 362px;
  width: 362px;
}

.bg-yellow-213 {
  background-color: rgb(0, 213, 0);
}

.box-213 {
  height: 363px;
  width: 363px;
}

.bg-yellow-214 {
  background-color: rgb(0, 214, 0);
}

.box-214 {
  height: 364px;
  width: 364px;
}

.bg-yellow-215 {
  background-color: rgb(0, 215, 0);
}

.box-215 {
  height: 365px;
  width: 365px;
}

.bg-yellow-216 {
  background-color: rgb(0, 216, 0);
}

.box-216 {
  height: 366px;
  width: 366px;
}

.bg-yellow-217 {
  background-color: rgb(0, 217, 0);
}

.box-217 {
  height: 367px;
  width: 367px;
}

.bg-yellow-218 {
  background-color: rgb(0, 218, 0);
}

.box-218 {
  height: 368px;
  width: 368px;
}

.bg-yellow-219 {
  background-color: rgb(0, 219, 0);
}

.box-219 {
  height: 369px;
  width: 369px;
}

.bg-yellow-220 {
  background-color: rgb(0, 220, 0);
}

.box-220 {
  height: 370px;
  width: 370px;
}

.bg-yellow-221 {
  background-color: rgb(0, 221, 0);
}

.box-221 {
  height: 371px;
  width: 371px;
}

.bg-yellow-222 {
  background-color: rgb(0, 222, 0);
}

.box-222 {
  height: 372px;
  width: 372px;
}

.bg-yellow-223 {
  background-color: rgb(0, 223, 0);
}

.box-223 {
  height: 373px;
  width: 373px;
}

.bg-yellow-224 {
  background-color: rgb(0, 224, 0);
}

.box-224 {
  height: 374px;
  width: 374px;
}

.bg-yellow-225 {
  background-color: rgb(0, 225, 0);
}

.box-225 {
  height: 375px;
  width: 375px;
}

.bg-yellow-226 {
  background-color: rgb(0, 226, 0);
}

.box-226 {
  height: 376px;
  width: 376px;
}

.bg-yellow-227 {
  background-color: rgb(0, 227, 0);
}

.box-227 {
  height: 377px;
  width: 377px;
}

.bg-yellow-228 {
  background-color: rgb(0, 228, 0);
}

.box-228 {
  height: 378px;
  width: 378px;
}

.bg-yellow-229 {
  background-color: rgb(0, 229, 0);
}

.box-229 {
  height: 379px;
  width: 379px;
}

.bg-yellow-230 {
  background-color: rgb(0, 230, 0);
}

.box-230 {
  height: 380px;
  width: 380px;
}

.bg-yellow-231 {
  background-color: rgb(0, 231, 0);
}

.box-231 {
  height: 381px;
  width: 381px;
}

.bg-yellow-232 {
  background-color: rgb(0, 232, 0);
}

.box-232 {
  height: 382px;
  width: 382px;
}

.bg-yellow-233 {
  background-color: rgb(0, 233, 0);
}

.box-233 {
  height: 383px;
  width: 383px;
}

.bg-yellow-234 {
  background-color: rgb(0, 234, 0);
}

.box-234 {
  height: 384px;
  width: 384px;
}

.bg-yellow-235 {
  background-color: rgb(0, 235, 0);
}

.box-235 {
  height: 385px;
  width: 385px;
}

.bg-yellow-236 {
  background-color: rgb(0, 236, 0);
}

.box-236 {
  height: 386px;
  width: 386px;
}

.bg-yellow-237 {
  background-color: rgb(0, 237, 0);
}

.box-237 {
  height: 387px;
  width: 387px;
}

.bg-yellow-238 {
  background-color: rgb(0, 238, 0);
}

.box-238 {
  height: 388px;
  width: 388px;
}

.bg-yellow-239 {
  background-color: rgb(0, 239, 0);
}

.box-239 {
  height: 389px;
  width: 389px;
}

.bg-yellow-240 {
  background-color: rgb(0, 240, 0);
}

.box-240 {
  height: 390px;
  width: 390px;
}

.bg-yellow-241 {
  background-color: rgb(0, 241, 0);
}

.box-241 {
  height: 391px;
  width: 391px;
}

.bg-yellow-242 {
  background-color: rgb(0, 242, 0);
}

.box-242 {
  height: 392px;
  width: 392px;
}

.bg-yellow-243 {
  background-color: rgb(0, 243, 0);
}

.box-243 {
  height: 393px;
  width: 393px;
}

.bg-yellow-244 {
  background-color: rgb(0, 244, 0);
}

.box-244 {
  height: 394px;
  width: 394px;
}

.bg-yellow-245 {
  background-color: rgb(0, 245, 0);
}

.box-245 {
  height: 395px;
  width: 395px;
}

.bg-yellow-246 {
  background-color: rgb(0, 246, 0);
}

.box-246 {
  height: 396px;
  width: 396px;
}

.bg-yellow-247 {
  background-color: rgb(0, 247, 0);
}

.box-247 {
  height: 397px;
  width: 397px;
}

.bg-yellow-248 {
  background-color: rgb(0, 248, 0);
}

.box-248 {
  height: 398px;
  width: 398px;
}

.bg-yellow-249 {
  background-color: rgb(0, 249, 0);
}

.box-249 {
  height: 399px;
  width: 399px;
}

.bg-yellow-250 {
  background-color: rgb(0, 250, 0);
}

.box-250 {
  height: 400px;
  width: 400px;
}

.bg-yellow-251 {
  background-color: rgb(0, 251, 0);
}

.box-251 {
  height: 401px;
  width: 401px;
}

.bg-yellow-252 {
  background-color: rgb(0, 252, 0);
}

.box-252 {
  height: 402px;
  width: 402px;
}

.bg-yellow-253 {
  background-color: rgb(0, 253, 0);
}

.box-253 {
  height: 403px;
  width: 403px;
}

.bg-yellow-254 {
  background-color: rgb(0, 254, 0);
}

.box-254 {
  height: 404px;
  width: 404px;
}

.bg-yellow-255 {
  background-color: rgb(0, 255, 0);
}

.box-255 {
  height: 405px;
  width: 405px;
}

.box {
  gap: 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}/*# sourceMappingURL=style.css.map */